
.bingo-card {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 80vw; /* ビンゴカード全体の幅を設定 */
  height: 80vw; /* ビンゴカード全体の高さを設定（正方形にするため） */
  max-width: 400px;
  max-height: 400px; /* max-widthとmax-heightを同じに設定 */
  margin: 0 auto; /* 中央に配置 */
}

.row {
  display: contents;
}

.cell {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-size: 1.2em; /* 少し小さくする */
  width: 100%; /* 各セルの幅 */
  height: 100%; /* 各セルの高さ */
  aspect-ratio: 1 / 1; /* 各セルを正方形にする */
  font-family: 'Caveat', cursive; /* Chalk-like font */
}
