
.bingo-card {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 600px;
  max-height: 600px; /* max-widthとmax-heightを同じに設定 */
  margin: 50px auto 0 auto; /* 中央に配置 */
}

.row {
  display: contents;
}

.cell {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-size: 1.2em; /* 少し小さくする */
  width: 110px; /* 各セルの幅 */
  height: 110px; /* 各セルの高さ */
  aspect-ratio: 1 / 1; /* 各セルを正方形にする */
  font-family: 'Caveat', cursive; /* Chalk-like font */
  overflow-wrap: anywhere;
  font-size: small;
}
