body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/bingo-code-2.jpg") !important; /* 背景画像のパスを指定 */
  background-size: 100% !important; /* 画像のサイズを2倍に設定 */
  background-repeat: no-repeat !important; /* 画像の繰り返しを防ぐ */
  background-position: center !important; /* 画像を中央に配置 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
